# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
*.iml
*.cov
*.gob

.DS_Store

.idea/

app/test/
app/drynx
app/app

data/dataset_training.txt
data/dataset_testing.txt

simul/test_data/*.csv
simul/build/
simul/deploy/
simul/simul


