# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
*.iml
*.cov
*.gob

.DS_Store

.idea/

services/default/data/*.txt
services/unlynxMedCo/*.toml

simul/test_data/*.csv
simul/test_data/graphs/*.pdf
simul/test_data/time_data/*.txt
simul/build/
simul/deploy/
simul/simul
simul/deter.toml

app/default/*.toml
app/default/test
app/default/service_storage
app/unlynxMedCo/*.toml
app/unlynxMedCo/loader/files/*
app/unlynxMedCo/loader/26-load-data.sh
app/unlynxMedCo/loader/*.toml
app/unlynxMedCo/loader/*.txt
app/unlynxMedCo/graphs/*.pdf

unlynx
#unlynxMedCo
server_list

pre_compute_multiplications.gob
